<html>
    <head>
        <title>Paloma's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Paloma's Blog</a></h1>
        </div>

        <div>
            <p>published: 05.10.2018, 13:27</p>
            <h2><a href="">My first post</a></h2>
            <p>Puesta a punto del blog.</p>
        </div>

        <div>
            <p>published: 05.10.2018, 13:30</p>
            <h2><a href="">My second post</a></h2>
            <p><em>Experimentando con la cursiva en mi texto</em></p>
            <br /> <!-- salto de linea-->
            <p><strong>Experimentando con la negrita en mi texto</strong></p>
            <a href="https://djangogirls.org">DJangoGirlsORG</a>
            <ul><li>primer elemento</li><li>segundo elemento</li></ul>
        </div>
    </body>
</html>